.composition {

    position: relative;

    &__picture {
        width: 55%;
        position: absolute;
        border-radius: 3px;
        box-shadow: 0 1.5em 4rem rgba($color-black, .4);
        transition: all .3s ease;
        outline-offset: 1.5rem;

        &--1 {
            top: -1.5rem;
            left: 0;
        }

        &--2 {
            top: 3rem;
            right: 0;
        }

        &--3 {
            top: 11rem;
            left: 11rem;
        }

        &:hover {
            z-index: 10;
            transform: scale(1.1);
            outline: 1.5rem solid $color-primary;
        }
    }

    // When hovering the composition class, select all element with a picture class that are not being hovered.
    &:hover &__picture:not(:hover) {
        transform: scale(.95);
    }
}