@keyframes moveInLeft {
    // Start at 100px to the left.
    0% {
        opacity: 0;
        transform: translateX(-100px);
    } // Give it a slight 'bouncy' feeling when it enters the screen.
    80% {
        transform: translateX(10px);
    } // Set it back to its original position.
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}