body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 30px;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    // Margin between the text and button.
    margin-bottom: 60px;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 4rem;
        letter-spacing: 3.5rem;
        // Ease-out will start slow at the beginning and faster at the end.
        animation: moveInLeft 1s ease-out;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: .15rem;

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .2s ease-out;

    &:hover {
        text-shadow: 0.5rem .5rem 3rem rgba($color-black, .3);
        transform: scale(1.1) rotate(-3deg) translateY(-1rem);
    }
}

.heading-tertiary {
    text-transform: uppercase;
    font-size: $default-font-size;
    font-weight: 700;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}