.section-about {
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, .6),
        rgba($color-primary-dark, .7)
    ),
    url(../img/nat-4.jpg);
    background-size: cover;
    padding: 20rem 0;
    margin-top: -10rem;

    transform: skewY(-6deg);

    & > * {
        transform: skewY(6deg);
    }
}

.section-tours {
    padding: 25rem 0;
    background-color: $color-grey-light;
    margin-top: -10rem;
}

